<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>Graph Algorithm Simulator</h1>
  <div class="overview">
    <div class="overview_item">
      <h2>Control Panel</h2>
      <div>
        <select>
          <option>DFS</option>
          <option>BFS</option>
        </select>
        <input type="button" value="before" />
        <input type="button" value="next" />
      </div>
    </div>
    <div class="overview_item">
      <h2>Algorithm</h2>
      <div class="code_block">
        <pre>
<code>{{'public static void main() {'}}</code>
<code class="debug_pointer">{{'  int i = 43;'}}</code>
<code>{{'  return i;'}}</code>
<code>{{'}'}}</code>
        </pre>
      </div>
    </div>
    <div class="overview_item">
      <h2>Graph</h2>
      <script>
        // provide data in the DOT language
        var DOTstring = 'dinetwork {1 -> 1 -> 2; 2 -> 3; 2 -- 4; 2 -> 1 }';
        var parsedData = vis.network.convertDot(DOTstring);

        var data = {
          nodes: parsedData.nodes,
          edges: parsedData.edges
        }

        var options = parsedData.options;

        // you can extend the options like a normal JSON variable:
        options.nodes = {
          color: 'red'
        }

        var container = document.getElementById('graph');
        // create a network
        var network = new vis.Network(container, data, options);

      </script>
      <div id="graph"></div>
    </div>
    <div class="overview_item" class="logs">
      <h2>Logs</h2>
      <ol>
        <li>Log entry ...</li>
        <li>Something happend</li>
        <li>... terminated</li>
      </ol>
    </div>
  </div>
</div>