
.App {
  font-size: large;
  display: flex;
  flex-flow: column nowrap;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.code-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  font-size: 14px;
}

.code-block-line {
  display: flex;
  flex-flow: row wrap;
}

.line-number {
  width: 2em;
}

.line-content {
  margin: 0 0 0 0;
}

.debug-pointer {
  background: yellow;
}

.logs ol {
  list-style-type: none;
  background: rgb(70, 71, 71);
  color: white;
}

.overview {
  /* margin-left: -1em; */
  /* margin-right: -1em; */
}

.overview-item {
  /* background: lightblue; */
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media (min-width: 100px) {
  .flex-item--full {
    flex: 0 0 100%;
  }
  
  .flex-item--half {
    flex: 0 0 100%;
  }
}

@media (min-width: 400px) {
  .flex-item--full {
    flex: 0 0 100%;
  }
  
  .flex-item--half {
    flex: 0 0 50%;
  }
}